ICS:
  Calendars:
    - Name: "Calendar1"
      URL: "https://outlook.office365.com/owa/calendar/../calendar.ics"
      EXPOResourceName: "Room 1"
    - Name: "Calendar2"
      URL: "https://outlook.office365.com/owa/calendar/.../calendar.ics"
      EXPOResourceName: "Room 2"
    - Name: "Calendar3"
      URL: "https://outlook.office365.com/owa/calendar/.../calendar.ics"
      EXPOResourceName: "Room 3"

Email:
  SendEmails: false
  FallbackEmail:
    Address: "mail@mail.com"
    Name: "fallback mail"
  From:
    Address: "no-reply@mail.com"
    Name: "it-department"
  Subject: "EXPO Booking Conflict"
  Mappings:
    - icsSummary: "Bob Bobson"
      address: "bob.bobson@mail.com"
    - icsSummary: "Foo Bar"
      address: "foo.bar@mail.com"