ICS:
  Calendars:
    - Name: "Calendar1"
      URL: "https://outlook.office365.com/owa/calendar/../calendar.ics"
      EXPOResourceName: "Room 1"
    - Name: "Calendar2"
      URL: "https://outlook.office365.com/owa/calendar/.../calendar.ics"
      EXPOResourceName: "Room 2"
    - Name: "Calendar3"
      URL: "https://outlook.office365.com/owa/calendar/.../calendar.ics"
      EXPOResourceName: "Room 3"

Email:
  SendEmails: false
  MailContent: |
    <html>
    <body>
      <p>Hello! {{.Summary}}</p>
      <p>Your booking of {{.Resource}}</p>
      <p>{{.Start}} to {{.End}}</p>
      <p>Overlaps with EXPO booking <a href="{{.BookingURL}}">{{.HumanNumber}}</a></p>
      <p>Consider an alternative room or time.</p>
    </body>
    </html>
  MailContentFallback: |
    <html>
    <body>
      <p>Email not found for {{.Summary}}</p>
      <p>Booking of {{.Resource}}</p>
      <p>{{.Start}} to {{.End}}</p>
      <p>Overlaps with EXPO booking <a href="{{.BookingURL}}">{{.HumanNumber}}</a></p>
      <p>Consider adding the person in the Summary->email mapping for EXPO-Outlook-BookingHandler.</p>
    </body>
    </html>
  FallbackEmail:
    Address: "mail@mail.com"
    Name: "fallback mail"
  From:
    Address: "no-reply@mail.com"
    Name: "it-department"
  Subject: "EXPO Booking Conflict"
  Mappings:
    - icsSummary: "Bob Bobson"
      address: "bob.bobson@mail.com"
    - icsSummary: "Foo Bar"
      address: "foo.bar@mail.com"